<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Athlon / Front-end Webpack Template</title>
    <link rel="stylesheet" href="../../dist/css/app.css">
  </head>
  <body>
    <header class="page-header">
      <div class="menu-button">
        <div class="button-box">
          <span class="button-inner line-1"></span>
          <span class="button-inner line-2"></span>
          <span class="button-inner line-3"></span>
        </div>
        <span class="menu-text">menu</span>
      </div>
      <div class="logo-and-tabs">

      </div>
      <div class="right-info-lang">

      </div>
      <div class="share-button">

      </div>
    </header>
    <main>
    </main>
  </body>
</html>
