<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Full Page Slider</title>
    <link rel="stylesheet" href="../../dist/css/app.css">
  </head>
  <body>
    <header class="page-header">
      <div class="left-nav">
        <div class="menu-button">
          <div class="button-box">
            <span class="button-inner line-1"></span>
            <span class="button-inner line-2"></span>
            <span class="button-inner line-3"></span>
          </div>
          <span class="menu-text">menu</span>
        </div>
      </div>
      <div class="right-nav">
        <div class="logo-and-tabs">
          <a href="https://www.google.com/?hl=hr">
            <h1 class="main-title">wooder
              <span></span>
            </h1>
          </a>
          <ul class="tab-list">
            <li>
              <a href="#">home</a>
            </li>
            <li>
              <a href="#">products</a>
            </li>
            <li>
              <a href="#">about</a>
            </li>
          </ul>
        </div>
        <div class="info-lang">
          <i class="info-icon"></i>
          <span>EN</span>
          <i class="lang-arrow"></i>
        </div>
      </div>
    </header>
    <script src="../../dist/js/app.js"></script>
  </body>
</html>
